body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;


    color: #032d44;
    background-color: #f0f8ff;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 20px 0px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 18px rgba(37, 78, 112, 0.08);
  border-bottom: 1px solid #b3cee9;
  padding: 20px 10px;
}

nav {
    display: flex;
    gap: 22px;
}

nav a {
    color: #174f73;
    text-decoration: none;
    font-weight: 600;
}

nav a:hover {
    color: #97c6e1;
}

h1 {
    color: #174f73;
}

.main-block {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.my-avatar {
  width: 250px;
  border-radius: 15px;
  box-shadow: 0 5px 18px rgba(30, 70, 100, 0.12);
}

.about-block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.block h2 {
    color: #174f73;
    border-bottom: 1px solid #0f4881;
}

.block > ul {
    padding: 10px 10px;
    list-style: none;
    background-color: #ffffff;
    border-left: 4px solid #97c6e1;
    border-radius: 15px;
    box-shadow: 0 4px 14px rgba(34, 79, 110, 0.08);
}

.block > ul > li {
    font-weight: 600;
    color: #5f7787;
}

.block > ul ul {
    margin-top: 10px;
    padding-left: 20px;
}

.block > ul ul li {
    margin-bottom: 5px;
    font-weight: 400;
}

pre {
    background-color: #22313a;
    border-radius: 15px;
}


code {
    line-height: 1.4;
    color: #e8f4fb;
}

.projects a {
    display: inline-flex;
    align-items: center;

    min-width: 150px;

    padding: 14px 18px;

    background-color: #ffffff;
    color: #174f73;

    border: 1px solid #cfe1ee;
    border-left: 5px solid #97c6e1;
    border-radius: 10px;

    text-decoration: none;
    font-weight: 700;

    box-shadow: 0 4px 12px rgba(34, 79, 110, 0.08);

    transition: 0.2s;
}

.projects a::after {
    content: ">";
    margin-left: auto;
    color: #97c6e1;
}

.projects a:hover {
    transform: translateY(-2px);
    box-shadow: 0 7px 16px rgba(34, 79, 110, 0.13);
}

.extra-info {
    display: flex;
    gap: 18px;

    margin-top: 20px;
}
.extra-info .block {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;

    border-radius: 15px;
    box-shadow: 0 5px 18px rgba(34, 79, 110, 0.08);
    transition: 0.2s;
}



.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    background-color: #ffffff;
    border-top: 1px solid #cfe1ee;
    border-radius: 15px;
    box-shadow: 0 -3px 14px rgba(34, 79, 110, 0.05);
    min-height: 70px;
    padding: 0px 20px;
}

.footer-link {
    font-weight: 600;
    color: #174f73;
    text-decoration: none;
}

.footer-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo img {
  display: block;
  width: 30px;
}